.modal_overlay {
  @include flex();
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_content {
  @include flex();
  position: relative;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  background-color: white;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: rgba($color: #ccc, $alpha: 0.8);
    cursor: pointer;
  }
}
